<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="ByteStorm.PassthroughDrive.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DriveLetter" value="R" />
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <userSettings>
    <ByteStorm.PassthroughDrive.Console.Properties.Settings>
      <setting name="DriveLetter" serializeAs="String">
        <value>R</value>
      </setting>
      <setting name="key" serializeAs="String">
        <value />
      </setting>
      <setting name="iv" serializeAs="String">
        <value />
      </setting>
      <setting name="VolumeLabel" serializeAs="String">
        <value>ByteStormDrive</value>
      </setting>
    </ByteStorm.PassthroughDrive.Console.Properties.Settings>
  </userSettings>
</configuration>
